apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: spark-app-monitor
  namespace: spark-jobs
  labels:
    release: monitoring
    app: spark
spec:
  selector:
    matchLabels:
      spark-role: driver
      sparkoperator.k8s.io/app-name: streaming-pipeline-kafka-avro-to-delta
  podMetricsEndpoints:
  - port: metrics
    path: /metrics
    interval: 15s
  - targetPort: 4040
    path: /metrics/prometheus
    interval: 15s
