apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: spark-app-monitor
  namespace: spark-jobs
  labels:
    # 1. Match this to your Prometheus release label
    release: "kube-prometheus-stack"
    app: spark
spec:
  selector:
    matchLabels:
      spark-role: driver
      # Matches the name in your SparkApplication metadata
      sparkoperator.k8s.io/app-name: streaming-pipeline-kafka-avro-to-delta
  podMetricsEndpoints:
    # Endpoint for JMX metrics (if exposeDriverMetrics: true is set)
    - port: jmx-exporter
      path: /metrics
      interval: 5s
      # 2. Corrected port name for the native Spark metrics
    - port: spark-ui
      path: /metrics/prometheus/
      interval: 5s
